.classpath
*.mymetadata
.project
*.jsdtscope
.settings/org.eclipse.jdt.core.prefs
*.component
.settings/org.eclipse.wst.jsdt.ui.superType.container
*.name
.settings/org.eclipse.wst.common.project.facet.core.xml
.class
*.class
WebRoot/WEB-INF/classes/com/qcm/dao/BaseDao.class
*.class
WebRoot/WEB-INF/classes/com/qcm/dao/BaseDao.class
*.class
WebRoot/WEB-INF/classes/com/qcm/dao/BaseDao.class
*.class
WebRoot/WEB-INF/classes/com/qcm/dao/BaseDao.class
*.class